<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heiketu.dao.RoleMapper">


    <select id="selectByUsername" parameterType="java.lang.String" resultType="java.lang.String">
        select role_name from user_roles where 1=1
        <if test="username != null and username != '' and username.trim() != ''">
           and username = #{username}
        </if>
    </select>

</mapper>